body{
  border: 5px solid black;
  font-family: sans-serif;
  line-height: 1.5;
}

.head{
  text-align: center;
  background-color: #b7b7b7;
  text-transform: uppercase;
}
.shipping{
  text-transform: uppercase;
  color: #b7b7b7;
  font-size: 8px;
  font-weight: strong;
}

a:hover{
  text-decoration: none;
}

button{
  color:white;
  background-color: black;
  border: none
;
}
button:hover{
  color: black;
  background-color: white
}

 li{
  list-style: square;
}

