*{
  margin:0;
  padding:0
}


body{

  font-family: sans-serif;
  line-height: 1.5;
}

.product::before{
  content:"SALE";
  background-color:red;
  position:absolute;
  margin-left: -25px;
  letter-spacing: 5px;
  margin-top:-25px;
  padding: 5px;
  color:white
}

.product{
  border: 5px solid black;
  position: relative;
}
.container{
  margin:40px auto;
  width:1200px;
  height: 80%
}

.product-header{
  text-align: center;
  background-color: #b7b7b7;
  text-transform: uppercase;
  margin-bottom:20px;
  padding:20px
}
.shipping{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 0;
  /* float: right; */
  /* margin-top: 8px; */
}

ol,ul{
  margin-left: 20px;
}
li{
 
  margin-bottom:5px;
}

.more-info:link, .more-info:visited {
  color: black;
  margin-bottom:20px;

}

.details{
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom:20px
}

.product-details{
  flex: 1;
}

p{
  margin-bottom:20px;
}

.more-info:hover , .more-info:active{
  text-decoration: none;

}

.add-cart{
  color:white;
  background-color: black;
  width:100%;
  border: none;
  border-top: 5px solid black;
  text-align: center;
  height: 100%;
  padding:10px;
  text-transform: uppercase;
;
}
.add-cart:hover{
  color: black;
  background-color: white;
  width:100%;
  text-align: center;
  height: 100%;
  padding:10px
}

 li{
  list-style: square;
}

h1::first-letter{
  font-style: normal;
  margin-right: 5px;
}

.color{
  background-color: black;
  width: 22px;
  height:22px;
  padding:13px
}

/* .clearfix::after {
  content: '';
  display: block;
  clear: both;
} */

.product-info{
width: 400px;
/* float: left; */
margin-right: 40px;
flex: 1;
margin-top: 20px;
}

.color-blue{
  background-color: blue;
}
.img-class{
  /* float:left; */
  margin:10px;
  width: 400px;
}

.color-red{
  background-color: red;
}

.color-green{
  background-color: green;
}

.color-yellow{
  background-color: yellow;
}
.color-brown{
  background-color: brown;
}
/* .product-img{
  float:left;
}

.price {
  font-size: 24px;
  float: left;
}

.product-desc{
  clear:both;
  padding-top:10px;
} */


.flex-container{
  display:flex;
  gap:30px
}

.product-color{
  display: flex;
  justify-content: space-evenly;
  gap:10px;

}

.price-info{
  display: flex;
  justify-content:space-between;
  align-items: center;

}



